from setuptools import setup

setup(
    name='confluent_client',
    version='#VERSION#',
    author='Jarrod Johnson',
    author_email='jjohnson2@lenovo.com',
    url='http://xcat.sf.net/',
    packages=['confluent'],
    scripts=['bin/confetty', 'bin/nodehealth', 'bin/nodeidentify', 'bin/nodepower', 'bin/nodesensors', 'bin/nodesetboot'],
)
