from setuptools import setup

setup(
    name='confluent_client',
    version='#VERSION#',
    author='Jarrod Johnson',
    author_email='jjohnson2@lenovo.com',
    url='http://xcat.sf.net/',
    packages=['confluent'],
    scripts=['bin/confetty', 'bin/nodeconsole', 'bin/nodeeventlog',
             'bin/nodefirmware', 'bin/nodehealth', 'bin/nodeidentify',
             'bin/nodeinventory', 'bin/nodelist', 'bin/nodepower',
             'bin/nodesensors', 'bin/nodesetboot'],
    data_files=[('/etc/profile.d', ['confluent_env.sh'])],
)
