# IBM(c) 2015 Apache 2.0
# Lenovo(c) 2020 Apache 2.0
[Unit]
Description=Confluent hardware manager

[Service]
Type=forking
#PIDFile=/var/run/confluent/pid
RuntimeDirectory=confluent
CacheDirectory=confluent
LogsDirectory=confluent
ConfigurationDirectory=confluent
ExecStart=/opt/confluent/bin/confluent
ExecStop=/opt/confluent/bin/confetty shutdown /
Restart=on-failure
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_SETUID CAP_SETGID CAP_CHOWN CAP_NET_RAW
User=confluent
Group=confluent
#DevicePolicy=closed # fuse filesystem requires us to interact with /dev/fuse
ProtectControlGroups=true
ProtectSystem=true

[Install]
WantedBy=multi-user.target

