%define name confluent_xcat
%define version #VERSION#
%define release 1

Summary: xCAT integration with confluent systems management server
Name: %{name}
Version: %{version}
Release: %{release}
Source0: %{name}-%{version}.tar.gz
License: Apache2
Group: Development/Libraries
BuildRoot: %{_tmppath}/%{name}-%{version}-%{release}-buildroot
Prefix: %{_prefix}
BuildArch: noarch
Requires: confluent_server
Vendor: Victor Hu <vhu@us.ibm.com>
Url: http://xcat.sf.net/

%description
xCAT integration with confluent system management server

%prep
%setup -n %{name}-%{version} -n %{name}-%{version}

%build
python setup.py build

%install
python setup.py install --single-version-externally-managed -O1 --root=$RPM_BUILD_ROOT --record=INSTALLED_FILES.bare --install-purelib=/opt/xcat/lib/python --install-scripts=/opt/xcat/bin
for file in $(grep xcat/__init__.py INSTALLED_FILES.bare); do
    rm $RPM_BUILD_ROOT/$file
done
grep -v xcat/__init__.py INSTALLED_FILES.bare > INSTALLED_FILES
cat INSTALLED_FILES


%clean
rm -rf $RPM_BUILD_ROOT

%files -f INSTALLED_FILES
%defattr(-,root,root)
