from setuptools import setup
import os

setup(
    name='confluent_xcat',
    version='#VERSION#',
    author='Victor Hu',
    author_email='vhu@us.ibm.com',
    url='http://xcat.sf.net/',
    description='xCAT integration with confluent systems management server',
    #packages=['xcat'],
    install_requires=['confluent_server > 1.0.0'],
    data_files=[('/opt/confluent/lib/python/confluent/plugins/console/', ['confluent/plugins/console/xcathmc.sh'])],
)
