from setuptools import setup
import os

setup(
    name='confluent_server',
    version='#VERSION#',
    author='Lenovo',
    author_email='jjohnson2@lenovo.com',
    url='https://github.com/lenovo/confluent/',
    license='Apache-2.0',
    description='confluent systems management server',
    long_description='confluent systems management server',
    platforms=['Linux'],
    packages=['confluent', 'confluent/config', 'confluent/interface',
              'confluent/discovery/',
              'confluent/discovery/protocols/',
              'confluent/discovery/handlers/',
              'confluent/networking/',
              'confluent/plugins/hardwaremanagement/',
              'confluent/plugins/deployment/',
              'confluent/plugins/console/',
              'confluent/plugins/info/',
              'confluent/plugins/shell/',
              'confluent/collective/',
              'confluent/plugins/configuration/'],
    scripts=['bin/confluent', 'bin/confluent_selfcheck', 'bin/confluentdbutil', 'bin/collective', 'bin/osdeploy'],
    data_files=[('/etc/init.d', ['sysvinit/confluent']),
                ('/usr/lib/sysctl.d', ['sysctl/confluent.conf']),
                ('/opt/confluent/share/licenses/confluent_server', ['LICENSE', 'COPYRIGHT']),
                ('/usr/lib/systemd/system', ['systemd/confluent.service']),
		('/opt/confluent/lib/python/confluent/plugins/console/', [])],

)
