from setuptools import setup
import os

setup(
    name='confluent_server',
    version='#VERSION#',
    author='Lenovo',
    author_email='jjohnson2@lenovo.com',
    url='https://github.com/lenovo/confluent/',
    license='Apache-2.0',
    description='confluent systems management server',
    long_description='confluent systems management server',
    platforms=['Linux'],
    packages=['confluent', 'confluent/config', 'confluent/interface',
              'confluent/discovery/',
              'confluent/discovery/protocols/',
              'confluent/discovery/handlers/',
              'confluent/networking/',
              'confluent/plugins/hardwaremanagement/',
              'confluent/plugins/deployment/',
              'confluent/plugins/console/',
              'confluent/plugins/info/',
              'confluent/plugins/shell/',
              'confluent/collective/',
              'confluent/plugins/configuration/',
              'aiohmi',
              'aiohmi/cmd',
              'aiohmi/ipmi',
              'aiohmi/ipmi/oem',
              'aiohmi/ipmi/oem/lenovo',
              'aiohmi/ipmi/private',
              'aiohmi/redfish',
              'aiohmi/redfish/oem',
              'aiohmi/redfish/oem/dell',
              'aiohmi/redfish/oem/lenovo',
              'aiohmi/redfish/oem/ami',
              'aiohmi/redfish/oem/megware',
              'aiohmi/util'],
    scripts=['bin/confluent', 'bin/confluent_selfcheck', 'bin/confluentdbutil', 'bin/collective', 'bin/osdeploy'],
    data_files=[('/etc/init.d', ['sysvinit/confluent']),
                ('/usr/lib/sysctl.d', ['sysctl/confluent.conf']),
                ('/opt/confluent/share/licenses/confluent_server', ['LICENSE', 'COPYRIGHT']),
                ('/opt/confluent/share/examples/logging/rsyslog', ['logging/rsyslog/confluent-nodes.conf',
                                                                   'logging/rsyslog/confluent-nodes.logrotate']),
                ('/opt/confluent/share/examples/logging/journal-remote', ['logging/journal-remote/confluent-journal-remote.conf']),
                ('/usr/lib/systemd/system', ['systemd/confluent.service']),
		('/opt/confluent/lib/python/confluent/plugins/console/', [])],

)
