[Unit]
Description=First Boot Process
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/etc/confluent/firstboot.sh

[Install]
WantedBy=multi-user.target

