from setuptools import setup

setup(
    name='confluent_common',
    version='#VERSION#',
    author='Jarrod Johnson',
    author_email='jbjohnso@us.ibm.com',
    description='common content for confluent client and server',
    url='http://xcat.sf.net/',
    packages=['confluent'],
    )
