Name: confluent_osdeploy-x86_64
Version: #VERSION#
Release: 1
Summary: OS Deployment support for confluent

License: Apache2
URL: https://hpc.lenovo.com/
Source0: confluent_osdeploy.tar.xz
BuildArch: noarch
Requires: confluent_ipxe mtools tar
BuildRoot: /tmp

%description
This contains support utilities for enabling deployment of x86_64 architecture systems


%define debug_package %{nil}

%prep
%setup -n confluent_osdeploy

%build
mkdir -p opt/confluent/bin
mkdir -p stateless-bin
cd utils
make all
cp copernicus clortho autocons ../opt/confluent/bin
cp start_root urlmount ../stateless-bin/
cd ..
for os in rhvh4 el7 genesis el8 suse15 ubuntu20.04 coreos; do
    mkdir ${os}out
    cd ${os}out
    cp -a ../opt .
    cp -a ../${os}/initramfs/* .
    cp -a ../common/* .
    find . | cpio -H newc -o > ../addons.cpio
    mv ../addons.cpio .
    cd ..
done
for os in el8; do
    mkdir ${os}disklessout
    cd ${os}disklessout
    cp -a ../opt .
    cp -a ../${os}-diskless/initramfs/* .
    cp -a ../common/* .
    cp -a ../stateless-bin/* opt/confluent/bin
    find . | cpio -H newc -o > ../addons.cpio
    mv ../addons.cpio .
    cd ..
done
mkdir esxi7out
cd esxi7out
cp -a ../opt .
cp -a ../esxi7/initramfs/* .
cp -a ../common/* .
chmod +x bin/* opt/confluent/bin/*
tar zcvf ../addons.tgz *
mv ../addons.tgz .
cd ..
cp -a esxi7out esxi6out
cp -a esxi7 esxi6

%install
for os in rhvh4 el7 el8 genesis suse15 ubuntu20.04 esxi6 esxi7 coreos; do
    mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/$os/initramfs
    mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/$os/profiles
    cp ${os}out/addons.* %{buildroot}/opt/confluent/lib/osdeploy/$os/initramfs
    cp -a $os/profiles/* %{buildroot}/opt/confluent/lib/osdeploy/$os/profiles
    if [ -d ${os}disklessout ]; then
        mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/${os}-diskless/initramfs
        mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/${os}-diskless/profiles
        cp ${os}disklessout/addons.* %{buildroot}/opt/confluent/lib/osdeploy/${os}-diskless/initramfs
        cp -a ${os}-diskless/profiles/* %{buildroot}/opt/confluent/lib/osdeploy/$os-diskless/profiles
    fi
    find %{buildroot}/opt/confluent/lib/osdeploy/$os/profiles -name .gitignore -exec rm -f {} +
done

%files
/opt/confluent/lib/osdeploy
