Name: confluent_osdeploy-x86_64
Version: #VERSION#
Release: 1
Summary: OS Deployment support for confluent

License: Apache2
URL: https://hpc.lenovo.com/
Source0: confluent_osdeploy.tar.xz
Source1: confluent_el9bin.tar.xz
Source2: confluent_el8bin.tar.xz
BuildArch: noarch
Requires: confluent_ipxe mtools tar
BuildRoot: /tmp

%description
This contains support utilities for enabling deployment of x86_64 architecture systems


%define debug_package %{nil}

%prep
%setup -n confluent_osdeploy -a 2 -a 1

%build
#cd utils
#make all
#cp confluent_imginfo copernicus clortho autocons ../opt/confluent/bin
#cp start_root urlmount ../stateless-bin/
#cd ..
ln -s el8 el9
cp -a el8 el10
cp -a debian debian13
mkdir -p debian13/initramfs/usr
mv debian13/initramfs/lib debian13/initramfs/usr/
mv el10/initramfs/usr el10/initramfs/var
for os in rhvh4 el7 genesis el8 suse15 debian debian13 ubuntu18.04 ubuntu20.04 ubuntu22.04 ubuntu24.04 coreos el9 el10; do
    mkdir ${os}out
    cd ${os}out
    if [ -d ../${os}bin ]; then 
        cp -a ../${os}bin/opt .
    elif [ $os = el10 ]; then
        cp -a ../el9bin/opt .
    else
        cp -a ../el8bin/opt .
    fi
    cp -a ../${os}/initramfs/* .
    cp -a ../common/initramfs/* .
    find . | cpio -H newc -o > ../addons.cpio
    mv ../addons.cpio .
    cd ..
done
for os in el7 el8 suse15 el9 el10 ubuntu20.04 ubuntu22.04 ubuntu24.04; do
    mkdir ${os}disklessout
    cd ${os}disklessout
    if [ -d ../${os}bin ]; then
        cp -a ../${os}bin/opt .
    elif [ $os = el10 ]; then
        cp -a ../el9bin/opt .
    else
        cp -a ../el8bin/opt .
    fi
    cp -a ../${os}-diskless/initramfs/* .
    cp -a ../common/initramfs/* .
    if [ -d ../${os}bin ]; then 
        cp -a ../${os}bin/stateless-bin/* opt/confluent/bin
    else
        cp -a ../el8bin/stateless-bin/* opt/confluent/bin
    fi
    find . | cpio -H newc -o > ../addons.cpio
    mv ../addons.cpio .
    cd ..
done
mkdir esxi7out
cd esxi7out
cp -a ../el8bin/opt .
cp -a ../esxi7/initramfs/* .
cp -a ../common/initramfs/* .
chmod +x bin/* opt/confluent/bin/*
tar zcvf ../addons.tgz *
mv ../addons.tgz .
cd ..
cp -a esxi7out esxi6out
cp -a esxi7 esxi6
cp -a esxi7out esxi8out
cp -a esxi7out esxi9out
cp -a esxi7 esxi8
cp -a esxi7 esxi9

%install
mkdir -p %{buildroot}/opt/confluent/share/licenses/confluent_osdeploy/
cp LICENSE %{buildroot}/opt/confluent/share/licenses/confluent_osdeploy/
for os in rhvh4 el7 el8 el9 el10 genesis suse15 ubuntu20.04 debian debian13 ubuntu18.04 ubuntu22.04 ubuntu24.04 esxi6 esxi7 esxi8 esxi9 coreos; do
    mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/$os/initramfs
    mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/$os/profiles
    cp ${os}out/addons.* %{buildroot}/opt/confluent/lib/osdeploy/$os/initramfs
    cp -a $os/profiles/* %{buildroot}/opt/confluent/lib/osdeploy/$os/profiles
    for targ in %{buildroot}/opt/confluent/lib/osdeploy/$os/profiles/*; do
        cp -a common/profile/* $targ
    done
    if [ -d ${os}disklessout ]; then
        mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/${os}-diskless/initramfs
        mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/${os}-diskless/profiles
        cp ${os}disklessout/addons.* %{buildroot}/opt/confluent/lib/osdeploy/${os}-diskless/initramfs
        cp -a ${os}-diskless/profiles/* %{buildroot}/opt/confluent/lib/osdeploy/$os-diskless/profiles
        for targ in %{buildroot}/opt/confluent/lib/osdeploy/$os-diskless/profiles/*; do
            cp -a common/profile/* $targ
        done
    fi
done
find %{buildroot}/opt/confluent/lib/osdeploy/ -name .gitignore -exec rm -f {} +

%files
/opt/confluent/lib/osdeploy
%license /opt/confluent/share/licenses/confluent_osdeploy/LICENSE
