Name: confluent_osdeploy-x86_64
Version: #VERSION#
Release: 1
Summary: OS Deployment support for confluent

License: Apache2
URL: http://hpc.lenovo.com/
Source0: confluent_osdeploy.tar.xz
BuildArch: noarch
Requires: confluent_ipxe
BuildRoot: /tmp

%description
This contains support utilities for enabling deployment of x86_64 architecture systems


%define debug_package %{nil}

%prep
%setup -n confluent_osdeploy

%build
mkdir -p opt/confluent/bin
cd utils
make all
cp copernicus clortho autocons ../opt/confluent/bin
cd ..
for os in el8 suse15 ubuntu20.04; do
    mkdir ${os}out
    cd ${os}out
    cp -a ../opt .
    cp -a ../${os}/initramfs/* .
    find . | cpio -H newc -o > ../addons.cpio
    mv ../addons.cpio .
    cd ..
done

%install
for os in el8 suse15 ubuntu20.04; do
    mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/$os/initramfs
    mkdir -p %{buildroot}/opt/confluent/lib/osdeploy/$os/profiles
    cp ${os}out/addons.cpio %{buildroot}/opt/confluent/lib/osdeploy/$os/initramfs
    cp -a $os/profiles/* %{buildroot}/opt/confluent/lib/osdeploy/$os/profiles
done

%files
/opt/confluent/lib/osdeploy
